*{
    box-sizing: border-box;
}
$breakpoints: (
    small: 480px,
    medium: 768px,
    large: 1024px
  );
.calendar{
 margin-top: 5vh;
    justify-content: end;
    
    width: 30vw;
    margin-left: auto;
    margin-right: auto;
    // padding: 7rem;
    @media (max-width: map-get($breakpoints, small)) {
        width: 55vw;
            }
            @media (min-width: map-get($breakpoints, small)) {
                width: 30vw;
            }
          }
          .mainMenu{
            @media (max-width: map-get($breakpoints, small)) {
                width: 30vw;
            }
            @media (min-width: map-get($breakpoints, medium)) {
                width: 55vw;
            }
        
}
// .burgerMenu{
//     @media (max-width: map-get($breakpoints, small)) {
//       display: block;
//     }
//     @media (min-width: map-get($breakpoints, small)) {
//       display: none;
//     }
//   }
//   .mainMenu{
//     @media (max-width: map-get($breakpoints, small)) {
//       display: none;
//     }
//     @media (min-width: map-get($breakpoints, medium)) {
//       display: block;
//     }
//   }