.herder{
    margin-top: 10vh;
   position: relative;
    max-width: 90vw;
    justify-content: space-between;
}
.weather-app{
    display: inline-block;
    width: 30%;
  
   
}
.calendar-app{
   
    
    width: auto;
}

.hed{
    display: inline-block;
}