<!-- <app-calendar ></app-calendar> -->
  <form [formGroup]="form" (ngSubmit)="update()">

    <div class="todo">
      <div class="header" style="width:70vw;">

        <input type="text" class="todo-input form-control" matInput style="color: black;" formControlName="id" >

        <input type="date"  class="todo-input form-control" style="color: black;" matInput  formControlName="title">

        <br>

        <input class="todo-input form-control" style="color: black;" formControlName="body">


        <br>

        <label for="radioInput">Is Done?</label>
        <input type="radio" formControlName="isDone" [value]="true">

        <button mat-flat-button color="primary" [disabled]="!form.valid" type="submit">Update task</button>

        <button mat-flat-button color="primary" (click)="clouse()" >X</button>
      </div>



    </div>

  </form>