<!-- <h1 class="title">{{(listByTitle$ | async)?.items?.[0]?.title}}</h1> -->
<app-heder></app-heder>
<app-calendar class="calendar"></app-calendar>
<div class="section">
  <form [formGroup]="form">
    
    <div class="todo">
      <div class="header" >
        
        
        <input style="display: none;" type="date"  class="todo-input form-control" matInput placeholder="Title" formControlName="title">

        <br>

        <input class="todo-input form-control" placeholder="Your task" formControlName="body">
        <br>

        <div class="radioLabel">
          <label for="radioInput" >Is Done?</label>
          <input style="width: 1rem; height: 1rem; margin-bottom: 0.4rem; margin-left: 0.8rem;" type="checkbox" formControlName="isDone" [value]="true">
          <button mat-flat-button type="submit" class="tools edit"  (click)="add()">Add </button>
        </div>
        

      </div>



    </div>

  </form>
</div>


<div *ngFor="let list of (listByTitle$ | async)?.items " class="main-div" >
  <br>
  <mat-card class="card">
    <mat-card-header>
      <div style="display: flex; flex-direction: row;">

        <div style="margin-left: 20px;" routerLink='id/{{list.id}}'>
          <h1>{{list?.title}}</h1>
          <h2>tast: {{list.body}}</h2>
          <h2>isDone?: {{list.isDone}}</h2>
          <small>{{list.author?.name}}</small>
          
          
        </div>
      </div>
    </mat-card-header>
  
  </mat-card>
</div>
