
.main-div{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: auto;

}
.contener{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,2fr));
}
.hedind{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin: auto;
}
.card{
    align-items: center;
    margin-top: 5vh; 
    // background-color: #8f8989da;
   width: 85vw;
}
.toolsBar{
    display:flex;
    justify-content: center;
}
.tools{
    display: flex;
    justify-content: center;
    align-items: center;
   margin-left: auto;
   margin-right: auto;
   margin-top: 1rem;
   margin-bottom: 0;
    font-size: 1.3rem;
    padding: 0.5rem;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color .3s;
}
.edit {
    background-color: rgba(26, 228, 7, 0.7);
}
.edit:hover{
    background-color: rgb(26, 228, 26);
}
.delete:hover{
    background-color: tomato;
}
.delete {
    background-color: rgba(255, 99, 71, 0.70);
    
}