
<app-calendar ></app-calendar>
<div class="section">
  <form [formGroup]="form">

    <div class="todo">
      <div class="header" style="width:70vw;">

   
       
        
        <input type="hidden" formControlName="title"  >

        <br>

        <input class="todo-input form-control" placeholder="Your task" formControlName="body">
        <br>

        <label for="radioInput">Is Done?</label>
        <input type="radio" formControlName="isDone" [value]="true">

        <button type="submit" class="btn btn-success"  (click)="add()">Add </button>
      </div>



    </div>

  </form>
</div>





