<app-calendar ></app-calendar>
<div style="width:50%; margin-left: 25%;">
 <section class="allTask"><h2>All your task</h2>
    <mat-card *ngFor="let listEntry of (dataSource | async)?.items " routerLink="../list-entries/id/{{listEntry.id}}"
      style="margin-top: 15px; margin-bottom: 15px;">
      <div>task to: {{listEntry.title}}</div>
      <div style="margin-top: 15px;">
        <div> task {{listEntry.body}}</div>
      </div>
  
  
    </mat-card></section>




  <mat-paginator [length]="(dataSource | async)?.meta?.totalItems" [pageSize]="(dataSource | async)?.meta?.itemsPerPage"
    [pageSizeOptions]="[5,10,25,100]" (page)="pageEvent = $event; onPaginateChange($event)" showFirstLastButtons>
  </mat-paginator>
</div>
