<app-calendar ></app-calendar>

<div >
 <!-- <section class="allTask"><h2>All your task</h2>
    <mat-card *ngFor="let listEntry of (dataSource | async)?.items " routerLink="../list-entries/id/{{listEntry.id}}"
      style="margin-top: 15px; margin-bottom: 15px;">
      <div> {{listEntry.title}}</div>
      <div style="margin-top: 15px;">
        <div> task {{listEntry.body}}</div>
        <div>  {{listEntry.isDone}}</div>
        <h1  [ngStyle]="{ 'color': listEntry.isDone ? 'rgba(26, 228, 7, 0.7)' : 'orange' }">status: {{listEntry.isDone ? 'done' : 'to to'}}</h1>
      </div>
 
  
    </mat-card></section> -->



    <div  *ngFor="let listEntry of (dataSource | async)?.items " routerLink="../list-entries/id/{{listEntry.id}}"   class="main-div">
      <mat-card class="card">
           <mat-card-header class="contener" >
             <mat-card-title class="mainHeder">{{listEntry.title}}</mat-card-title>
             <mat-card-subtitle class="subHeder">tast:{{listEntry.body}}</mat-card-subtitle>
             <h1  class="subHeder" [ngStyle]="{ 'color': listEntry.isDone ? 'rgba(26, 228, 7, 0.7)' : 'orange' }">status: {{listEntry.isDone ? 'done' : 'to to'}}</h1>
             <div class="toolsBar">
               <button class="edit tools" >Edite</button>
               <button class="delete tools"  >Delete</button> 
             </div>
           </mat-card-header>
         </mat-card>
   </div>

  <mat-paginator [length]="(dataSource | async)?.meta?.totalItems" [pageSize]="(dataSource | async)?.meta?.itemsPerPage"
    [pageSizeOptions]="[5,10,25,100]" (page)="pageEvent = $event; onPaginateChange($event)" showFirstLastButtons>
  </mat-paginator>
</div>
