.header {
    justify-content: center;
    align-content: center;
    margin: auto;
    border-radius: 5px 5px 0 0;
    padding: 40px;
    background-image: linear-gradient(340deg, royalblue 0%, #09c6f9 100%);

}

.todo-input {
    align-content: center;
    margin: auto;
    width: 25vw;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

.radioLabel {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    font-size: 1.5rem;
}

.checkboxInput {
    padding: 1.5rem;

}

.todo button {
    margin-left: 12vw;
    margin-right: 8vw;
    font-size: 1.5rem;
    cursor: pointer;
    transition: background-color .3s;
}


.edit {
    background-color: rgba(26, 228, 7, 0.7);
}

.edit:hover {
    background-color: rgb(26, 228, 26);
}

.delete:hover {
    background-color: tomato;
}

.delete {
    background-color: rgba(255, 99, 71, 0.70);

}


.popup {
    display: none;
    flex-direction: column;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 800px;
    color: var(--light);
    background-color: var(--light-dark);
    border-radius: 5px;
}

.popup h3 {
    padding: 20px;
}



.popup-body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-wrap: wrap;
    width: 90%;
    padding: 10px;
}

.idInput {
    display: none;
}

.popup-input {
    width: 100%;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: var(--light-dark);
    background-color: var(--light);
}